/* *{
    outline: 1px solid red;
} */

.form {
  display: flex;
  gap: 1rem;
  flex-basis: content;
  align-items: center;
  flex-direction: column;
}

.input-group {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.floors-group {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.floor {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-bottom: 1px solid black;
}

.floor-container {
  display: flex;
  align-items: flex-end;
  gap: 4rem;
  height: 100%;
}

.lift-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 4px;
}

.lift-buttons > button {
  padding: 4px;
  border-radius: 2px;
  font-weight: bold;
  border: 2px transparent;
  background-color: goldenrod;
  color: black;
}

.lifts {
  display: flex;
  gap: 4rem;
}

.lift {
  width: 4rem;
  height: 5rem;
  background-color: gold;
  border: 1px solid black;
  position: relative;
}
